{% extends 'base.html' %}

{% block content %}

<div class="content">
    <h1> Reset Password</h1>
    <form method="post">
        <p>
            <label> Enter Your Email Address :
                <input type="text" name="email" placeholder="Email Address"/>
            </label>
        </p>
        <p>
        <h3>Secret Question 1</h3>
        <label> What is your favourite sport :
            <input type="text" name="sq1" placeholder=" Answer Secret Question 1"/>
        </label>
        </p>

        <p>
        <h3>Secret Question 2</h3>
        <label> What is your birth place :
            <input type="text" name="sq2" placeholder="Answer Secret Question 2"/>
        </label>
        </p>

        <p>
        <h3>Secret Question 3</h3>
        <label> What is your mother maiden name :
            <input type="text" name="sq3" placeholder="Answer Secret Question 3"/>
        </label>
        </p>

        <p>
            <label> New Password
                <input type="password" name="newpassword" placeholder="Enter New Password"/>
            </label>
        </p>

        <p>
            <label> Confirm New Password
                <input type="password" name="confnewpassword" placeholder="Confirm New Password"/>
            </label>
        </p>

        <button type="submit" id="submitButton">Reset Password</button>
    </form>
</div>
{% endblock %}