<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
     <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript>
        $(function () {
            $('#loginButton').on('click', function (e) {
                fetch(`/login`)
                    .then(function (response) {
                        return response.text();
                        1
                    }).then(function (text) {
                    console.log('response text:');
                });
            });
        });
    </script>
</head>
<body>
<hr>
<div class="content" align="center">
  <h1> Login to your account</h1>
  <form method="post">
    <p>
      <b><label> Enter Your Email Address :
        <input type="text" name="email" placeholder="Email Address"/>
      </label>
    </p>

  <p>
    <b><label>Password
        <input type="text" name="password" placeholder="Enter Password"/>
        </label>
  </p>

  <button type="submit" id="loginButton">Login Now</button>
  </form>
  </div>
</body>
</html>