{% extends 'base.html' %}

{% block content %}

<div class="content" align="center">
  <h1> Login to your account</h1>
  <form method="post">
    <p>
      <label> Enter Your Email Address :
        <input type="text" name="email" placeholder="Email Address"/>
      </label>
    </p>

  <p>
    <label>Password
        <input type="password" name="password" placeholder="Enter Password"/>
        </label>
  </p>

  <button type="submit" id="loginButton">Login Now</button>
  </form>
  </div>
{% endblock %}