{% extends 'base.html' %}
{% block html_head %}
<script>
    function buynow() {
        const confirmationtext = this.document.getElementById("confirmationText")
        const buynow_button = this.document.getElementById("buy_now_loggedin")
        const product_id = this.document.getElementById("product_id").innerText
        buynow_button.disabled = true;
        confirmationtext.innerHTML = '<p style="color: blue">Order has been placed successfully! Continue shopping...</p>'
            setTimeout(() => {
                window.location.href = "../product.html"
            }, 2000);
        const result = fetch(`/product/purchase/${product_id}`);
    }
</script>
{% endblock %}

{% block content %}

<div class="display">
    <div>
        <table>
            <th text-align="center">
                {{product.product_name}}
            </th>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td>
                                <p id="product_id" hidden> {{product.product_id}}</p>
                                <img id="product_image" src="{{product.product_image}}" width="350" height="350"/>
                            </td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table>
                        <tr>
                            <td>
                                <div id="product_description"><p>{{product.product_description}}</p></div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div id="product_price"><p>{{product.product_price}}</p></div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    {% if username %}
                                        <button id="buy_now_loggedin"
                                                onclick=buynow()>Buy Now
                                        </button>

                                    {% else %}
                                        <button id="buy_now_loggedout" type="button"
                                           onclick="window.location.href='{{ url_for('account_api.login')}}';"
                                               >
                                            Buy Now
                                        </button>

                                    {% endif %}

                                    <p id="confirmationText"></p>
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>

{% endblock %}
